{% extends 'principal/base.html' %} {% block content %} {% load i18n %}
<br/>
<br/>
<br/>
<div class="page-center container">
  <h1>{% trans "Login"%}</h1>
  <form method="POST">
    <div class="form-container">
      <div class="form-class">
        {% csrf_token %} {{ form.as_p }}
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-success">{% trans "Login"%}</button>
    <br />
    <br />
    <a href="/signup">{% trans "Not registered yet? What are you waiting for!"%}</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </form>
</div>
{% endblock %}