<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ service.name }}</h4>
    <div class="container">
        <h6 class="card-subtitle mb-2 text-muted">Autor: </h6>
        <p class="card-text">{{ service.author }}</p>
      <div class="row"> 
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">Fecha de creación: </h6>
          <p class="card-text">{{ service.created }}</p>
          <h6 class="card-subtitle mb-2 text-muted">Categoría: </h6>
          <p class="card-text">{{ service.category }}</p>
          <h6 class="card-subtitle mb-2 text-muted">Precio: </h6>
          <p class="card-text">{{ service.price }} €</p>
        </div>
        <div class="col order-12">
          <h6 class="card-subtitle mb-2 text-muted">Disponibilidad: </h6>
          <p class="card-text">{{ service.avaliability }}</p>
          <h6 class="card-subtitle mb-2 text-muted">Solicitante: </h6>
          <p class="card-text">{{ service.offerer }}</p>
        </div>
        <div class="col order-1">
          <h6 class="card-subtitle mb-2 text-muted">Descripción: </h6>
          <p class="card-text">{{ service.description|truncatechars:100 }}</p>
        </div>
      </div>
      <button onclick="window.location='{% url 'details' pk=service.id %}'" class="btn btn-primary">Ver detalles</button>
    </div>
  </div>
</div>