{% extends 'principal/base.html' %}{% block content %}
<div class="container-fluid">
    <div class="media">
            <img class="d-flex mr-3" src="static/img/oldkare-logo.png" alt="Generic placeholder image">
            <div class="media-body">
              <h1 class="mt-0">¿Quiénes somos?</h1>
              <p>Somos OldKare, un proyecto pequeño pero ambicioso que quiere ayudar a todas aquellas familias que no puedan ocuparse de sus personas mayores en casa.</p>
    <p>Encuenta aquí lo que necesitas, profesionales y gente de confianza, que además trabajarán de una forma cercana y cariñosa.</p>
    <p>Ofrece a aquellas personas que por un momento cuidaron de ti lo que se merecen, el mejor trato y cuidado.</p>
            </div>
          </div>
</div>
{% endblock %}