{% extends 'principal/base.html' %}{% block content %}
{% load i18n %}
<br/>
<br/>
<br/>
<div class="container-fluid">
  <div class="media">
    <img class="d-flex mr-3" src="../static/img/oldkare-logo.png" alt="Generic placeholder image">
    <div class="media-body">
      <h1 class="mt-0">{% trans "Who are we?"%}</h1>
      <p>{% trans "We are OldKare, a small but ambitious project that wants to help all those families who can't take care of their elderly people at home."%}</br></br>
      {% trans "Find here what you need, professionals and people you trust, who will also work closely and affectionately."%}</br></br>
      {% trans "Offer those people who for a moment took care of you what they deserve, the best treatment and care."%}</p>
    </div>
  </div>
</div>
{% endblock %}