{% extends 'principal/base.html' %} {% block content %}{% if curriculum.user.id == request.user.id%}
<br/>
<br/>
<br/>
<div class="card">
<div class="container form-group">
  <br />
  <div class="row">
    <div class="col-lg-6">
      <h1>Añade tu currículum</h1>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <form method="POST">
      <div class="form-container">
          <div class="form-class">
    {% csrf_token %} {{ form.as_p }}
    </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
</div>
{% endif %}
{% if curriculum.user.id != request.user.id%}
<div class="card">
  <br/>
  <br/>
  <br/>
  <br/>
<h2>¡No tienes acceso a esta página!</h2>
<br/>
<br/>
<br/>
<br/>
</div>
{% endif %}


{% endblock %}