{% extends 'principal/base.html' %} {% block content %}
<br/>
<br/>
<br/>
<div class="card card-blue">
<div class="container form-group">
  <br />
  <div class="row">
    <div class="col-lg-6">
      <h1>Edita tus detalles de usuario</h1>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <h6 class="card-subtitle mb-2 text-muted">Reglas de formato</h6>
          <p class="card-text">Para introducir una imagen colocar una URL</p>
        </div>
      </div>
    </div>
  </div>
  <form method="POST">
      <div class="form-container">
          <div class="form-class">
    {% csrf_token %} {{ form.as_p }}
    </div>
    </div>
    <h5>¡Ya casi estás!</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 68%" aria-valuenow="28" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
</div>

{% endblock %}