{% extends 'principal/base.html' %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container form-group">
  <br />
  <div class="row">
    <div class="col-lg-6">
      <h1>Solicita el servicio</h1>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <!-- <form method="POST">
      <div class="form-container">
          <div class="form-class">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Solicitar </button>
    </div>
    </div>
  </form> -->
  <!-- <h1>Pagar servicio</h1> -->
      <button class="btn btn-primary" onclick="window.location='/order/create'">Pagar </button>
</div>

{% endblock %}