<!DOCTYPE HTML>
<html>

<head>
  <title>Ion by TEMPLATED</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

  <link rel="stylesheet" type="text/css" href='../../../static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../../static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../../../static/css/skel.css' />
  <link rel="stylesheet" type="text/css" href='../../static/css/skel.css' />
  <link rel="stylesheet" type="text/css" href='../static/css/skel.css' />
  <link rel="stylesheet" type="text/css" href='static/css/skel.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body id="top">

  <!-- Header -->
  <header id="header" class="skel-layers-fixed">
    <h1>
      <a href="/">OldKare</a>
    </h1>
    <nav id="nav">
      <ul>
        {% if request.user.is_authenticated%}
        <li>
          <a href="/oldkare">Mis servicios</a>
        </li>
        {% endif %}
        <li>
          <a href="/oldkareall">Servicios</a>
        </li>
        <li>
          <a href=""></a>
        </li>
        {% if request.user.is_authenticated%}
        <button class="btn btn-outline-primary" onclick="window.location='{% url 'updateUserDetails' pk=user.userdetails.id %}'">{{request.user.username}}</button>
        <button type="button" class="btn btn-outline-danger" onclick="window.location='{% url 'logout' %}'">Logout</button>
        {% else %}
        <button class="btn btn-outline-success" onclick="window.location='{% url 'login' %}'">Login</button>
        {% endif %}
      </ul>
    </nav>
  </header>
  <div class="content">
    {% block content %} {% endblock %}
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row double">
        <div class="6u">
          <div class="row collapse-at-2">
            <div class="6u">
              <h3>Accumsan</h3>
              <ul class="alt">
                <li>
                  <a href="#">Nascetur nunc varius</a>
                </li>
                <li>
                  <a href="#">Vis faucibus sed tempor</a>
                </li>
                <li>
                  <a href="#">Massa amet lobortis vel</a>
                </li>
                <li>
                  <a href="#">Nascetur nunc varius</a>
                </li>
              </ul>
            </div>
            <div class="6u">
              <h3>Faucibus</h3>
              <ul class="alt">
                <li>
                  <a href="#">Nascetur nunc varius</a>
                </li>
                <li>
                  <a href="#">Vis faucibus sed tempor</a>
                </li>
                <li>
                  <a href="#">Massa amet lobortis vel</a>
                </li>
                <li>
                  <a href="#">Nascetur nunc varius</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="6u">
          <h2>Aliquam Interdum</h2>
          <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu
            accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
          <ul class="icons">
            <li>
              <a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-facebook">
                <span class="label">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-instagram">
                <span class="label">Instagram</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-pinterest">
                <span class="label">Pinterest</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="copyright">
        <li>&copy; OldKare. All rights reserved.</li>
      </ul>
    </div>
  </footer>
</body>

</html>