<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OldKare</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href='static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../static/css/style.css' />
</head>

<body>
  <div class="container-fluid">
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">OldKare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/sobre-nosotros">¿Quienes somos?
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if request.user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="/oldkare">Mis servicios</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/oldkareall">Servicios</a>
            </li>
          </ul>
          {% if request.user.is_authenticated%}
          <div class="buttons-login-logout-signup">
            <button class="btn btn-outline-success" onclick="window.location='{% url 'updateUserDetails' pk=user.userdetails.id %}'">{{request.user.username}}</button>
            <button type="button" class="btn btn-outline-danger" onclick="window.location='logout'">Logout</button>
            {% else %}
            <div class="separator">
              <button class="btn btn-outline-light" onclick="window.location='signup'">Registro</button>
            </div>
            <button class="btn btn-outline-success" onclick="window.location='login'">Login</button>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
    <div class="content">
    {% block content %} {% endblock %}
  </div>

</body>
<footer>

    <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
      <a href="/"> OldKare </a>
    </div>
  
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var csrf_token = '{{ csrf_token }}'
</script>

</html>