<!DOCTYPE HTML>
{% load i18n %}
<html>

<head>
  <title>OldKare</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

  <link rel="stylesheet" type="text/css" href='../../../static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../../static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='static/css/style.css' />
  <link rel="stylesheet" type="text/css" href='../../../static/css/skel.css' />
  <link rel="stylesheet" type="text/css" href='../../static/css/skel.css' />
  <link rel="stylesheet" type="text/css" href='../static/css/skel.css' />
  <link rel="stylesheet" type="text/css" href='static/css/skel.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body id="top">

  <!-- Header -->
  <header id="header" class="skel-layers-fixed">
    <h1>
      <a href="/">OldKare</a>
    </h1>
    <nav id="nav">
      <ul>
        {% if request.user.is_authenticated%}
        <li>
          <a href="/services">Mis servicios</a>
        </li>
        <li>
          <a href="/oldkare2">Servicios solicitados</a>
        </li>
        {% endif %}
        <li>
          <a href="/services/all">Servicios</a>
        </li>
        <li class="menu-separator">
          <a href=""></a>
        </li>
        {% if request.user.is_authenticated%}
        {% if request.user.userdetails%}
        <button type="button" class="btn btn-outline-primary" onclick="window.location='{% url 'userDetails' pk=user.userdetails.id%}'">Perfil</button>
        {% else %}
        <button type="button" class="btn btn-outline-light" onclick="window.location='{% url 'addUserDetails' %}'">Perfil</button>
        {% endif %}
        <button type="button" class="btn btn-outline-secondary" onclick="window.location='{% url 'logout' %}'">Logout</button>
        {% else %}
        <button class="btn btn-outline-light" onclick="window.location='{% url 'login' %}'">Login</button>
        {% endif %}
      </ul>
    </nav>
  </header>
  <div class="content">
    {% block content %} {% endblock %}
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row double">
        <div class="6u">
          <div class="row collapse-at-2">
            <div class="6u">
              <h3>Enlaces de interés</h3>
              <ul class="alt">
                <li>
                  <a href="/services/all">Servicios</a>
                </li>
                <li>
                  <a href="/sobre-nosotros">Sobre nosotros</a>
                </li>
              </ul>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="6u">
              <h3>Únete</h3>
              <ul class="alt">
                <li>
                  <a href="/signup">Regístrate</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="6u">
        <h2>¿Dónde nos encontramos?</h2>
        <p>Somos un grupo de trabajo de estudiantes de la Universidad de Sevilla, con el proposito de lanzar una aplicación web con la que ayudar a las personas mayores de todas las casas.
        </p>
</div>
        <div class="6u">
          <div class="form-group">
              <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select class="form-control" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" />
              </form>
            </div>
          <ul class="icons">
            <li>
              <a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-facebook">
                <span class="label">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-instagram">
                <span class="label">Instagram</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-pinterest">
                <span class="label">Pinterest</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="copyright">
        <li>&copy; OldKare. All rights reserved. | <a href="/terminos-y-condiciones">Términos y condiciones</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>