<div class="card">
    <div class="card-body">
        <h4 class="card-title">Usuario: <b>{{ c.user.username }}</b></h4>
        <div class="container">
            <h6 class="card-subtitle mb-2 text-muted">Datos personales: </h6>
            <p class="card-text">{{ c.personalData }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Experiencia: </h6>
            <p class="card-text">{{ c.experience }}</p>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text"></p>
            <div class="row">
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">Educación: </h6>
                    <p class="card-text">{{ c.education }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Miscellaneous: </h6>
                    <p class="card-text">{{ c.misc }}</p>
                </div>
                <div class="col order-12">
                </div>
                <div class="col order-1">
                </div>
            </div>
        </div>
    </div>
</div>