{% extends 'principal/base.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4">
      <h1>Curriculum</h1>
    </div>
   <div class="col-lg-8">
      {% if request.user.is_authenticated%}
      {% if curriculum.user.id == request.user.id%}
      <button onclick="window.location='{% url 'curriculumUpdate' pk=curriculum.id %}'" type="button" class="btn btn-success">{% trans "Update curriculum"%}</button>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <hr />
    {% include 'principal/curriculumDetailsView.html' %}
</div>
{% endblock %}