{% extends 'principal/base.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4">
      <h1>Currículum</h1>
    </div>
   <div class="col-lg-8">
      {% if request.user.is_authenticated%}
      <button onclick="window.location='{% url 'curriculumUpdate' pk=user.curriculum.id %}'" type="button" class="btn btn-success">Actualizar currículum</button>
      {% endif %}
    </div>
  </div>
  <hr />
    {% include 'principal/curriculumDetailsView.html' %}
</div>
{% endblock %}