{% extends 'principal/base.html' %}{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ service.name }}</h4>
    <div class="container">
        <h6 class="card-subtitle mb-2 text-muted">Autor: </h6>
        <p class="card-text">{{ service.author }}</p>
      <div class="row">
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">Fecha de creación: </h6>
          <p class="card-text">{{ service.created }}</p>
          <h6 class="card-subtitle mb-2 text-muted">Categoría: </h6>
          <p class="card-text">{{ service.category }}</p>
          <h6 class="card-subtitle mb-2 text-muted">Precio: </h6>
          <p class="card-text">{{ service.price }} €</p>
        </div>
        <div class="col order-12">
          <h6 class="card-subtitle mb-2 text-muted">Disponibilidad: </h6>
          <p class="card-text">{{ service.avaliability }}</p>
          <h6 class="card-subtitle mb-2 text-muted">Solicitante: </h6>
          <p class="card-text">{{ service.offerer }}</p>
        </div>
        <div class="col order-1">
          <h6 class="card-subtitle mb-2 text-muted">Descripción: </h6>
          <p class="card-text">{{ service.description }}</p>
        </div>
      </div>
      <button onclick="window.location='{% url 'userDetails' pk=service.author.id %}'" class="btn btn-primary">Información sobre el autor</button>
      {% if request.user.is_authenticated%}
      <button class="btn btn-outline-success" onclick="window.location='{% url 'apply' pk=service.id %}'">Solicitar servicio</button>
      <button class="btn btn-outline-success" onclick="window.location='{% url 'updateService' pk=service.id %}'">Editar servicio</button>
      <button class="btn btn-outline-success" onclick="window.location='{% url 'deleteService' pk=service.id %}'">Borrar servicio</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
