{% load i18n %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <h6 class="card-subtitle mb-2 text-muted">Ranking: </h6>
            <p class="card-text">{{ f.ranking }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{% trans "Description: "%}</h6>
            <p class="card-text">{{ f.description }}</p>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text"></p>
            <div class="row">
            </div>
        </div>
    </div>
</div>