{% extends 'principal/base.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4">
      <h1>Feedbacks</h1>
    </div>
   <div class="col-lg-8">
      {% if request.user.is_authenticated%}
      {% endif %}
    </div>
  </div>
  <hr />
  {% if feedback %}
  {% for f in feedback.all %}
    {% include 'principal/feedbackDetailsView.html' %}
    {% endfor %}
    {% else %}
    {% include 'principal/withoutFeedback.html' %}
    {% endif %}
</div>
{% endblock %}