{% extends 'principal/base.html' %} {% block content %}
<div class="container-fluid principal-page">
  <div class="row">
    <div class="col-8">
      <img id="img-fondo" class="img-fluid" src="static/img/oldkare-principal-image.jpg"/>
    </div>
    <div class="col-4">
      <h3>
        OldKare
        <small class="text-muted">¿Estás buscando algún servicio?</small>
      </h3>
      <br/>
      <p>En oldkare se encuentran los mejores cuidadores que puedas necesitar para tus mayores más cercanos.</p>
      <br/>

      <p>OldKare - Your family, my family. </p>
    </div>
  </div>
</div>
{% endblock %}