{% extends 'principal/base.html' %} {% block content %}
<div class="container-fluid principal-page">
  <div class="row">
    <div class="col-8">
      <img id="img-fondo" class="img-fluid" src="/static/img/oldkare-principal-image.jpg"/>
    </div>
    <div class="col-4">
      <h3>
        OldKare
        <small class="text-muted">¿Estás buscando algún servicio?</small>
      </h3>
      <br/>
      <p>En OldKare podrás encontrar a los mejores cuidadores para dejar a tus personas mayores más cercanas con gente de confianza.</p>
      <br/>

      OldKare - Your family, my family.
    </div>
  </div>
</div>
{% endblock %}