{% extends 'principal/base.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4">
      {% if request.get_full_path == "/es/services" or request.get_full_path == "/en/services"%} 
      <h1>{% trans "My services"%}</h1>
      {%endif%}
      {% if request.get_full_path == "/es/services/requested" or request.get_full_path == "/en/services/requested"%} 
      <h1>{% trans "Order history"%}</h1>
      {%endif%}
    </div>
   <div class="col-lg-8">
      {% if request.user.is_authenticated%}
      {% if request.user.userdetails%}
      <button onclick="window.location='{% url 'add' %}'" type="button" class="btn btn-success">{% trans "Add service"%}</button>
      {% else %}
      <h4>{% trans "You must fill in your profile before creating services!"%}</h4>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <hr />
    {% for service in services %}
      {% include 'principal/_OldKare_service.html' %}
    {% endfor %}

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

</div>
{% endblock %}
