{% extends 'principal/base.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4">
      <h1>{% trans "Services"%}</h1>
    </div>
   <div class="col-lg-8">
      {% if request.user.is_authenticated%}
      {% if request.user.userdetails%}
      <button onclick="window.location='{% url 'add' %}'" type="button" class="btn btn-success">{% trans "Add service"%}</button>
      {% else %}
      <h4>{% trans "You must fill in your profile before creating services!"%}</h4>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <hr />
    {% for service in services %}
      {% include 'principal/_OldKare_service.html' %}
    {% endfor %}
</div>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
