{% extends 'principal/base.html' %}
{% load i18n %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4"> 
      <h1>Mis servicios</h1>
    </div>
   <div class="col-lg-8">
      {% if request.user.is_authenticated%}
      <button onclick="window.location='{% url 'add' %}'" type="button" class="btn btn-success">Añadir servicio</button>
      {% endif %}
    </div>
  </div>
  <hr />
    {% for service in services %}
      {% include 'principal/_OldKare_service.html' %}
    {% endfor %}
</div>
{% endblock %}
