{% extends 'principal/base.html' %}{% block content %}
{% load i18n %}
<br/>
<br/>
<br/>
<div class="container-fluid">
  <div class="media">
    <img class="d-flex mr-3" src="../static/img/oldkare-logo.png" alt="Generic placeholder image">
    <div class="media-body">
      <h1 class="mt-0">Terms and conditions of use</h1>
<h4>RELEVANT INFORMATION</h4>

<p>It is a prerequisite for the purchase of products offered on this site that you read and accept the following Terms and Conditions which are set forth below. The use of our services as well as the purchase of our products implies that you have read and accepted the Terms and Conditions of Use in this document. All products that are offered by our website may be created, charged, submitted or presented by a third party website and are subject to their own Terms and Conditions. In some cases, in order to purchase a product, it will be necessary for the user to register, with the entry of reliable personal data and the definition of a password.</p>

<p>The user can choose and change the password for his account management access at any time, in case he has registered and that is necessary for the purchase of any of our products. <a href="/">www.oldkare.com</a> does not assume responsibility in case you give this key to third parties.</p>

<p>All purchases and transactions carried out through this website are subject to a confirmation and verification process, which may include stock verification and product availability, payment method validation, invoice validation (if any) and compliance with the conditions required by the payment method selected. In some cases, email verification may be required.</p>

<p>The prices of the products offered in this Online Store are valid only for purchases made on this website.</p>

<h4>LICENSE</h4>

<p>OldKare through its website grants a license to users to use the products that are sold on this website in accordance with the Terms and Conditions described in this document.</p>

<h4>UNAUTHORISED USAGE</h4>

<p>If applicable (for sale of software, templates, or other design and programming products) you may not place one of our products, modified or unmodified, on a CD, website or any other medium and offer them for redistribution or resale of any kind.</p>

<h4>PROPERTY</h4>

<p>You may not declare any of our products as intellectual property or exclusive property, modified or unmodified. All products are the property of the content providers. Unless otherwise specified, our products are provided without warranty of any kind, either express or implied. In no event shall this company be liable for any damages whatsoever including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses resulting from the use or inability to use our products.</p>

<h4>REFUND AND GUARANTEE POLICY</h4>

<p>In the case of products that are irrevocable non-tangible goods, we do not make refunds after the product is shipped, you have the responsibility to understand before you purchase it.  We ask that you read it carefully before you buy it. We only make exceptions to this rule when the description does not fit the product. There are some products that may have warranty and possibility of refund but this will be specified when purchasing the product. In such cases the warranty will only cover factory failures and will only become effective when the product has been used correctly. The warranty does not cover breakdowns or damage caused by misuse. Warranty terms are associated with manufacturing and operating failures under normal product conditions and will only be effective if the equipment has been used properly. This includes:</p>
<ul>
<li>According to the technical specifications indicated for each product.</li>
<li>In environmental conditions in accordance with the specifications indicated by the manufacturer.</li>
<li>In specific use for the function with which it was designed in the factory.</li>
<li>In electrical operating conditions in accordance with the specifications and tolerances indicated.</li>
</ul>

<h4>FRAUD CHECK</h4>

<p>The customer's purchase can be postponed for the anti-fraud check. It can also be suspended for longer for more rigorous investigation, to avoid fraudulent transactions.</p>

<h4>PRIVACY</h4>

<p>This website <a href="/">www.oldkare.com</a> ensures that the personal information you submit is secure. The data entered per user or in the case of requiring a validation of orders will not be given to third parties, unless it must be disclosed in compliance with a court order or legal requirements.</p>

<p>Subscription to email newsletters is voluntary and may be selected at the time of creating your account.</p>

<p>OldKare reserves the right to change or modify these terms without notice.</p>
    </div>
  </div>
</div>
{% endblock %}