{% extends 'principal/base.html' %} {% block content %}
{% load i18n %}
{% if request.user.is_authenticated%}
<br/>
<br/>
<br/>
<div class="container form-group">
  <br />
  <div class="row">
    <div class="col-lg-6">
      <h1>{% trans "Edit your user details"%}</h1>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <h6 class="card-subtitle mb-2 text-muted">{% trans "Format rules"%}</h6>
          <p class="card-text">{% trans "Place a URL to insert an image."%}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-service">
  <form method="POST">
      <div class="form-container">
          <div class="form-class">
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Birthdate: "%} {% csrf_token %} {{ form.birthday }}</h6> 
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Phone: "%} {% csrf_token %} {{ form.phone }} </h6>
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Postal address: "%} {% csrf_token %} {{ form.postalAddress }} </h6>
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Gender: "%} {% csrf_token %} {{ form.gender }} </h6>
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Occupation: "%} {% csrf_token %} {{ form.occupation }}</h6>
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Photo: "%} {% csrf_token %} {{ form.photo }} </h6>
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">{% trans "Social references: "%} {% csrf_token %} {{ form.socialReferences }} </h6>
              <br/>
              <h6 class="card-subtitle mb-2 text-muted">DNI: {% csrf_token %} {{ form.dni }} </h6>
              <br/>
              <button type="submit" class="btn btn-primary">{% trans "Save"%}</button>
          </div>
      </div>
  </form>
</div>
</div>

{% endif %}

{% endblock %}