{% extends 'principal/base.html' %}{% block content %}
<br/>
<br/>
<br/>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Nombre de usuario: <b>{{ userDetails.user.username }}</b></h4>
        <div class="container">
            <h6 class="card-subtitle mb-2 text-muted">Nombre: </h6>
            <p class="card-text">{{ userDetails.user.first_name }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Apellidos: </h6>
            <p class="card-text">{{ userDetails.user.last_name }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Email: </h6>
            <p class="card-text">{{ userDetails.user.email }}</p>
            <div class="row">
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">Fecha de nacimiento: </h6>
                    <p class="card-text">{{ userDetails.birthday }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Profesión: </h6>
                    <p class="card-text">{{ userDetails.occupation }}</p>
                    {% if request.user.curriculum%}
                    <button class="btn btn-outline-success" onclick="window.location='{% url 'curriculum' pk=userDetails.user.curriculum.id %}'">Curriculum</button>
                    {% else %}
                    <button class="btn btn-outline-success" onclick="window.location='{% url 'addCurriculum' %}'">Añadir curriculum</button>
                    {% endif %}
                </div>
                <div class="col order-12">
                    
                </div>
                <div class="col order-1">
                        <img class="d-flex mr-3 profile-photo" src="{{userDetails.photo}}" alt="Profile photo">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}