{% extends 'principal/base.html' %}{% block content %}
{% load i18n %}
<br/>
<br/>
<br/>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{% trans "User name: "%}<b>{{ userDetails.user.username }}</b></h4>
        <div class="container">
            <h6 class="card-subtitle mb-2 text-muted">{% trans "Name: "%}</h6>
            <p class="card-text">{{ userDetails.user.first_name }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{% trans "Surname: "%}</h6>
            <p class="card-text">{{ userDetails.user.last_name }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Email: </h6>
            <p class="card-text">{{ userDetails.user.email }}</p>
            <div class="row">
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">{% trans "Birthdate: "%}</h6>
                    <p class="card-text">{{ userDetails.birthday }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">{% trans "Occupation: "%}</h6>
                    <p class="card-text">{{ userDetails.occupation }}</p>
                    {% if request.user.is_authenticated%}
                    <h6 class="card-subtitle mb-2 text-muted">{% trans "Phone: "%}</h6>
                    <p class="card-text">{{ userDetails.phone }}</p>
                    {% endif %}
                    {% if userDetails.user.curriculum%}
                    <button class="btn btn-outline-success" onclick="window.location='{% url 'curriculum' pk=userDetails.user.curriculum.id %}'">Curriculum</button>
                    {% else %}
                    <button class="btn btn-outline-success" onclick="window.location='{% url 'addCurriculum' %}'">{% trans "Add curriculum"%}</button>
                    {% endif %}
                    {% if request.user.userdetails.id == userDetails.id%}
                    <button class="btn btn-outline-success" onclick="window.location='{% url 'updateUserDetails' pk=userDetails.id %}'">{% trans "Edit details"%}</button>
                    {% endif %}
                </div>
                <div class="col order-12">
                    
                </div>
                <div class="col order-1">
                        <img class="d-flex mr-3 profile-photo" src="{{userDetails.photo}}" alt="Profile photo">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}